/* Css Reset  */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
}

/* Generics  */

header {
    height: 125px;
}

body {
    height: calc(100vh - 125px);
    background-color: rgb(14,14,14);
}

.card {
    transition: 0.25s;
}

.card:hover {
    cursor: pointer;
    transform: scale(1.05);
    box-shadow: 0 0 7.5px white;
}

#genre {
    height: 45px;
}

#logo {
    height: 75px;
}